{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.13/b-1.2.4/datatables.min.css"/>
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="panel-body">
            <div class="page-header">
                <h1> Lista de Profesores </h1>
            </div>
            <table class="table table-bordered" id="academico_table">
                <thead>
                <tr>
                    <th>Paterno</th>
                    <th>Materno</th>
                    <th>Nombre</th>
                    <th>Rfc</th>
                    <th>Curp</th>
                    <th>Adscripcion</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Extension</th>
                    <th>Cvu</th>
                    <th>Acreditacion</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for academico in academicos %}
                    <tr>
                        <td>{{ academico.paterno }}</td>
                        <td>{{ academico.materno }}</td>
                        <td>{{ academico.nombre }}</td>
                        <td>{{ academico.rfc }}</td>
                        <td>{{ academico.curp }}</td>
                        <td>{{ academico.adscripcion }}</td>
                        <td>{{ academico.correo }}</td>
                        <td>{{ academico.telefono }}</td>
                        <td>{{ academico.extension }}</td>
                        <td>{{ academico.cvu }}</td>
                        <td>{{ academico.acreditacion }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('academico_show', { 'id': academico.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('academico_edit', { 'id': academico.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('academico_new') }}">Create a new academico</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.13/b-1.2.4/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#solicitud_table').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf'
                ]
            } );
        } );
    </script>

{% endblock %}
