{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>{{ academico.paterno }} {{ academico.materno }} {{ academico.nombre }} <small>{{ academico.correo }}</small></h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="box box-primary">
                        {#<div class="box-header">
                            <h3>Información</h3>
                        </div>#}
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p class="text-muted lead">{{ academico.acreditacion }}</p><p class="text-muted">{{ academico.adscripcion }}</p>
                                    <hr>
                                    <table class="table table-condensed table-hover text-muted">
                                        <tr><td>Correo</td><td>{{ academico.correo }}</td></tr>
                                        <tr><td>Teléfono</td><td>{{ academico.telefono }}  Ext. {{ academico.extension }}</td></tr>
                                    </table>

                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <table class="table table-condensed table-hover text-muted">
                                        <tr><td><strong>CVU</strong></td><td>{{ academico.cvu }}</td></tr>
                                        <tr><td><strong>RFC</strong></td><td>{{ academico.rfc }}</td></tr>
                                        <tr><td><strong>CURP</strong></td><td>{{ academico.curp }}</td></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">

                        </div>
                        <div class="box-footer">
                            <a class="btn btn-primary btn-sm" href="{{ path('academico_edit', { 'slug': academico.slug }) }}" role="button">
                                <i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h4>Alumnos</h4>
                        </div>
                        <div class="box-body">
                            {% for alumno in alumnos %}
                                <p><a href="{{ path('alumno_show', {'slug': alumno.slug }) }}">{{ alumno.paterno }} {{ alumno.materno }} {{ alumno.nombre }}</a></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h4>Comité tutorial de:</h4>
                        </div>
                        <div class="box-body">
                            {% for tutoria in academico.tutorias %}
                                <p><a href="{{ path('alumno_show', {'slug': tutoria.alumno.slug }) }}">{{ tutoria.alumno.paterno }} {{ tutoria.alumno.materno }} {{ tutoria.alumno.nombre }}</a></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{ path('academico_edit', { 'slug': academico.slug }) }}">Edit</a>
            {#<ul>
                <li>
                    <a href="{{ path('academico_index') }}">Back to the list</a>
                </li>
                <li>

                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>#}
        </section>
    </div>
{% endblock %}
