{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="panel-body">
            <div class="page-header">
                <h1> {{ academico.nombre }} {{ academico.paterno }}  </h1>
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Paterno</th>
                    <th>Materno</th>
                    <th>Nombre</th>
                    <th>Rfc</th>
                    <th>Curp</th>
                    <th>Adscripcion</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Extension</th>
                    <th>Cvu</th>
                    <th>Acreditacion</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>{{ academico.id }}</td>
                    <td>{{ academico.paterno }}</td>
                    <td>{{ academico.materno }}</td>
                    <td>{{ academico.nombre }}</td>
                    <td>{{ academico.rfc }}</td>
                    <td>{{ academico.curp }}</td>
                    <td>{{ academico.adscripcion }}</td>
                    <td>{{ academico.correo }}</td>
                    <td>{{ academico.telefono }}</td>
                    <td>{{ academico.extension }}</td>
                    <td>{{ academico.cvu }}</td>
                    <td>{{ academico.acreditacion }}</td>
                </tr>
                </tbody>
            </table>


            <div class="page-header"><h3>Parte de comité tutorial</h3></div>
            {% for tutoria in academico.tutorias %}
                <p><a href="{{ path('alumno_show', {'slug': tutoria.alumno.slug }) }}">{{ tutoria.alumno.paterno }} {{ tutoria.alumno.materno }} {{ tutoria.alumno.nombre }}</a></p>
            {% endfor %}
            <div class="page-header"></div>
            <ul>
                <li>
                    <a href="{{ path('academico_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('academico_edit', { 'slug': academico.slug }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
