{% extends 'base.html.twig' %}

{% block css %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.css" rel="stylesheet" />

{% endblock %}

{% block body %}
    {{ form_start(edit_form) }}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Programa {{ programa.programa }} <span class="text-muted">{{ programa.alumno.nombre}} {{ programa.alumno.paterno}} {{ programa.alumno.materno}}</span></h1>
        </section>
        <div class="content">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-success">
                    {{ flash_message }}
                </div>
            {% endfor %}

            <div class="box box-primary">
                <div class="box-header">
                    <h4><a href="{{ path('alumno_show', { 'slug': programa.alumno.slug }) }}">{{ programa.alumno.nombre }} {{ programa.alumno.paterno }} {{ programa.alumno.materno }}</a></h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Programa</label>
                                {{ form_widget(edit_form.programa, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-danger">{{ form_errors(edit_form.programa) }}</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Semestre de ingreso</label>
                                {{ form_widget(edit_form.ingreso, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-danger">{{ form_errors(edit_form.ingreso) }}</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="text-muted">Semestre de término</label>
                                {{ form_widget(edit_form.termino, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-danger">{{ form_errors(edit_form.termino) }}</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Fecha Examen de Candidatura</label>
                                <div class="input-group date">
                                    {{ form_widget(edit_form.fechaCandidatura, {'attr': {'class': 'form-control js-datepicker'}}) }}
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <span class="text-danger">{{ form_errors(edit_form.fechaCandidatura) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Fecha grado UMSNH</label>
                                <div class="input-group date">
                                    {{ form_widget(edit_form.fechaGradoUMSNH, {'attr': {'class': 'form-control js-datepicker'}}) }}
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <span class="text-danger">{{ form_errors(edit_form.fechaGradoUMSNH) }}</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Fecha grado UNAM</label>
                                <div class="input-group date">
                                    {{ form_widget(edit_form.fechaGradoUNAM, {'attr': {'class': 'form-control js-datepickerUNAM'}})  }}
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <span class="text-danger">{{ form_errors(edit_form.fechaGradoUNAM) }}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Opción de Titulación</label>
                                {{ form_widget(edit_form.opcionTitulacion, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-danger">{{ form_errors(edit_form.opcionTitulacion) }}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Tutor</label>
                                {{ form_widget(edit_form.tutor, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-danger">{{ form_errors(edit_form.tutor) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Título Tesis</label>
                                {{ form_widget(edit_form.tituloTesis, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-danger">{{ form_errors(edit_form.tituloTesis) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Semestres</label>
                                    {{ form_widget(edit_form.semestres, {'attr': {'class': 'form-control semestres-multiple select2-bootstrap-append', 'multiple': '',  'style': 'width=100%', 'tabindex': '-1', 'aria-hidden': 'true'}}) }}
                                <span class="text-danger">{{ form_errors(edit_form.semestres) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Cursos</label>
                                {{ form_widget(edit_form.cursos, {'attr': {'class': 'form-control cursos-multiple', 'multiple': '',  'style': 'width=100%', 'tabindex': '-1', 'aria-hidden': 'true'}}) }}
                                <span class="text-danger">{{ form_errors(edit_form.cursos) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Comité tutorial</label>
                                {{ form_widget(edit_form.comite_tutorial, {'attr': {'class': 'form-control comite-multiple', 'multiple': 'multiple'}}) }}
                                <span class="text-danger">{{ form_errors(edit_form.comite_tutorial) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    {{ form_widget(edit_form) }}
                    <input  class="btn btn-success btn-sm" type="submit" value="Guardar cambios">
                </div>
            </div>

            {{ form_end(edit_form) }}

            {#<ul>
                <li>
                    <a href="{{ path('programa_index') }}">Back to the list</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input  class="btn btn-danger" type="submit" value="Eliminar">
                    {{ form_end(delete_form) }}
                </li>
            </ul>#}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.es.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src=""></script>

    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                language: 'en',
                orientation: "auto bottom"
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('.js-datepickerUNAM').datepicker({
                format: 'yyyy-mm-dd',
                orientation: 'auto bottom',
                language: 'es'
            });
        });
    </script>

    <script type="text/javascript">
        $(".semestres-multiple").select2({
            theme: "bootstrap"
        });
    </script>
    <script type="text/javascript">
        $(".cursos-multiple").select2({
            theme: "bootstrap"
        });
    </script>
    <script type="text/javascript">
        $(".comite-multiple").select2({
            theme: "bootstrap"
        });
    </script>


{% endblock %}