{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(edit_form) }}
    <div class="content-wrapper">
        <div class="panel-body">
            <h1>Editar Programa {{  programa.programa}}</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Programa</label>
                        {{ form_widget(edit_form.programa, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(edit_form.programa) }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Ingreso</label>
                        {{ form_widget(edit_form.ingreso, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(edit_form.ingreso) }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Término</label>
                        {{ form_widget(edit_form.termino, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(edit_form.termino) }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Fecha grado UMSNH</label>
                        {{ form_widget(edit_form.fechaGradoUMSNH) }}
                        <span class="text-danger">{{ form_errors(edit_form.fechaGradoUMSNH) }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Fecha grado UNAM</label>
                        {{ form_widget(edit_form.fechaGradoUNAM) }}
                        <span>{{ form_errors(edit_form.fechaGradoUNAM) }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Opción de Titulación</label>
                        {{ form_widget(edit_form.opcionTitulacion, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(edit_form.opcionTitulacion) }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Título Tesis</label>
                        {{ form_widget(edit_form.tituloTesis, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(edit_form.tituloTesis) }}</span>
                    </div>
                </div>
            </div>

            {{ form_widget(edit_form) }}
            <input  class="btn btn-primary" type="submit" value="Editar" />
            {{ form_end(edit_form) }}

            <ul>
                <li>
                    <a href="{{ path('programa_index') }}">Back to the list</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
