{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.13/b-1.2.4/datatables.min.css"/>
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="panel-body">
            <div class="page-header">
                <h1> Lista de Programas </h1>
            </div>

            <div class="row">
                <div class="col col-md-2">
                    <div class="metric-container">
                        <h3 class="metric-header">{{ programas|length }}</h3>
                        <span class="metric-label">Programas</span>
                    </div>
                </div>
            </div>

            <table class="table table-bordered" id="programa_table">
                <thead>
                <tr>
                    <th>Programa</th>
                    <th>Ingreso</th>
                    <th>Termino</th>
                    <th>Fecha grado umsnh</th>
                    <th>Fecha grado unam</th>
                    <th>Opción titulación</th>
                    <th>Título tesis</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for programa in programas %}
                    <tr>
                        <td><a href="{{ path('programa_show', { 'id': programa.id }) }}">{{ programa.id }}</a></td>
                        <td>{{ programa.programa }}</td>
                        <td>{{ programa.ingreso }}</td>
                        <td>{{ programa.termino }}</td>
                        <td>{% if programa.fechaGradoUMSNH %}{{ programa.fechaGradoUMSNH|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if programa.fechaGradoUNAM %}{{ programa.fechaGradoUNAM|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ programa.opcionTitulacion }}</td>
                        <td>{{ programa.tituloTesis }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('programa_show', { 'id': programa.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('programa_edit', { 'id': programa.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('programa_new') }}">Create a new programa</a>
        </li>
    </ul>
{% endblock %}
