{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
    <div class="panel-body">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Información personal</strong></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <table class="table">
                            <tr>
                                <td><strong>Programa</strong></td><td>{{ programa.programa }}</td>
                            </tr>
                            <tr>
                                <td><strong>Ingreso</strong></td><td>{{ programa.ingreso }}</td>
                            </tr>
                            <tr>
                                <td><strong>Termino</strong></td><td>{{ programa.termino }}</td>
                            </tr>
                            <tr>
                                <td><strong>Fecha grado UMSNH</strong></td><td>{% if programa.fechaGradoUMSNH %}{{ programa.fechaGradoUMSNH|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td><strong>Fecha grado UNAM</strong></td><td>{% if programa.fechaGradoUNAM %}{{ programa.fechaGradoUNAM|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td><strong>Opción de titulación</strong></td><td>{{ programa.opcionTitulacion }}</td>
                            </tr>
                            <tr>
                                <td><strong>Título tésis</strong></td><td>{{ programa.tituloTesis}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

            <ul>
                <li>
                    <a href="{{ path('programa_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('programa_edit', { 'id': programa.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
