{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="panel-body">
            <h1>Editar Semestre</h1>

            {{ form_start(edit_form) }}
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-success">
                    {{ flash_message }}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>semestre</label>
                        {{ form_widget(edit_form.semestre, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(edit_form.semestre) }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Fecha de inicio</label>
                        {{ form_widget(edit_form.fechaInicio) }}
                        <span>{{ form_errors(edit_form.fechaInicio) }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Fecha de terminacion</label>
                        {{ form_widget(edit_form.fechaFin) }}
                        <span class="text-danger">{{ form_errors(edit_form.fechaFin) }}</span>
                    </div>
                </div>
            </div>
            {{ form_widget(edit_form) }}
            <input class="btn btn-primary" type="submit" value="Editar" />
            {{ form_end(edit_form) }}

            <ul>
                <li>
                    <a href="{{ path('semestre_index') }}">Back to the list</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input  type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
