{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    <div class="content-wrapper">
        <div class="panel-body">
            <div class="page-header">
                <h2>Semestre</h2>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>semestre</label>
                        {{ form_widget(form.semestre, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(form.semestre) }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Fecha de inicio</label>
                        {{ form_widget(form.fechaInicio) }}
                        <span>{{ form_errors(form.fechaInicio) }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Fecha de terminacion</label>
                        {{ form_widget(form.fechaFin) }}
                        <span class="text-danger">{{ form_errors(form.fechaFin) }}</span>
                    </div>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Crear" />
            {{ form_end(form) }}
          {#  <ul>
                <li>
                    <a href="{{ path('semestre_index') }}">Back to the list</a>
                </li>
            </ul>#}
        </div>
    </div>
{% endblock %}
