{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="panel-body">
            <div class="page-header">
                <h1> Semestre  {{ semestre.semestre }}</h1>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Semestre</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha fin</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ semestre.semestre }}</td>
                    <td>{% if semestre.fechaInicio %}{{ semestre.fechaInicio|date('d-m-Y') }}{% endif %}</td>
                    <td>{% if semestre.fechaFin %}{{ semestre.fechaFin|date('d-m-Y') }}{% endif %}</td>
                </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('semestre_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('semestre_edit', { 'id': semestre.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
