{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

  {% block paneltitle %}
      <a href=""><b>SID</b>CCM</a>
  {% endblock %}
 {% block fos_user_content %}
     {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
         <p>Credenciales actuales</p>
         <p>Usuario: <b>{{ app.user.username }}</b></p>
         <p>Correo: <b>{{ app.user.email }}</b></p>

         <a href="{{ path('fos_user_security_logout') }}" class="btn btn-lg btn-success btn-block" role="button">
             {{ 'Logout'|trans({}, 'FOSUserBundle') }}
         </a>
     {% else %}
         {% if error %}
             <p class="text-danger"><span class="glyphicon glyphicon-remove"></span> {{ error.messageKey|trans(error.messageData, 'security') }}</p>
         {% endif %}


         <form class="form-signin" role="form" action="{{ path('fos_user_security_check') }}" method="post">
             <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

             <div class="form-group has-feedback">
                 <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Usuario" required autofocus/>
                 <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
             </div>
             <div class="form-group has-feedback">
                 <input type="password" id="password" name="_password" class="form-control" placeholder="Password"  required>
                 <span class="glyphicon glyphicon-lock form-control-feedback"></span>
             </div>
             <div class="row">
                 <div class="col-xs-8">
                     <div class="checkbox icheck">
                         <label>
                             <input type="checkbox" id="remember_me" name="_remember_me" checked> Remember Me
                         </label>
                     </div>
                 </div>
                 <!-- /.col -->
                 <div class="col-xs-4">
                     <button class="btn btn-primary btn-block btn-flat" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">Login</button>
                 </div>
                 <!-- /.col -->
             </div>
         </form>

         <p class="text-right"> <a href="{{ path('fos_user_resetting_request') }}">Recuperar contraseña</a></p>
     {% endif %}
 {% endblock fos_user_content %}