<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">


    <div class="col-lg-12">
        <div class="form-group">
            <div>
                {{ form_label(form.plainPassword.first, 'Nueva Contraseña') }}
            </div>
            <div>
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control input-sm','placeholder': 'Nueva Contraseña'} } ) }}
            </div>
            <div> {{ form_errors(form.plainPassword.first) }} </div>

        </div>
    </div>

    <div class="col-lg-12">
        <div class="form-group">
            <div>
                {{ form_label(form.plainPassword.second, 'Confirmación') }}
            </div>
            <div>
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control input-sm','placeholder': 'Confirmación'} } ) }}
            </div>
            <div> {{ form_errors(form.plainPassword.second) }} </div>

        </div>
    </div>

    {{ form_rest(form) }}

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <input type="submit" value="Cambiar contraseña" class="btn btn-primary"/>
            </div>

        </div>
    </div>
</form>