{% extends 'base.html.twig' %}

{% block body %}

    <div class="content-wrapper">
        <div class="panel-body">
            <h1>Editar Curso {{ curso.curso }}</h1>

            {{ form_start(edit_form) }}
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-success">
                    {{ flash_message }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tipo</label>
                        {{ form_widget(edit_form.tipo, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(edit_form.tipo) }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Curso</label>
                        {{ form_widget(edit_form.curso, {'attr': {'class': 'form-control'}}) }}
                        <span>{{ form_errors(edit_form.curso) }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tema</label>
                        {{ form_widget(edit_form.tema, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(edit_form.tema) }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Horas por semana</label>
                        {{ form_widget(edit_form.horasSemana, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(edit_form.horasSemana) }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Creditos</label>
                        {{ form_widget(edit_form.creditos, {'attr': {'class': 'form-control'}}) }}
                        <span>{{ form_errors(edit_form.creditos) }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Asignatura</label>
                        {{ form_widget(edit_form.asignatura, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(edit_form.asignatura) }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>clave de grupo</label>
                        {{ form_widget(edit_form.claveGrupo, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(edit_form.claveGrupo) }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Lugar</label>
                        {{ form_widget(edit_form.lugar, {'attr': {'class': 'form-control'}}) }}
                        <span>{{ form_errors(edit_form.lugar) }}</span>
                    </div>
                </div>
               {# <div class="col-md-4">
                    <div class="form-group">
                        <label>Programas</label>
                        {{ form_widget(edit_form.alumnos, {'attr': {'class': 'form-control'}}) }}
                        <span>{{ form_errors(edit_form.alumnos) }}</span>
                    </div>
                </div>#}
            </div>

            {{ form_widget(edit_form) }}
            <input class="btn btn-primary" type="submit" value="Editar" />
            {{ form_end(edit_form) }}

            <ul>
                <li>
                    <a href="{{ path('curso_index') }}">Back to the list</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
