{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(edit_form) }}
    <div class="content-wrapper">
        <section class="content-header">
            <h2>Curso {{ curso.curso }}</h2>
        </section>
        <div class="content">
            <div class="alert-danger">{{ form_errors(edit_form) }}</div>
                <div class="box box-primary">
                    <div class="box-body">
                        {% for flash_message in app.session.flashBag.get('notice') %}
                            <div class="alert alert-success">
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                        <div class="box-header">
                            <h3>Datos del curso </h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tipo</label>
                                        {{ form_widget(edit_form.tipo, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(edit_form.tipo) }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Profesor</label>
                                        {{ form_widget(edit_form.profesor, {'attr': {'class': 'form-control'}}) }}
                                        <span>{{ form_errors(edit_form.profesor) }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Curso</label>
                                        {{ form_widget(edit_form.curso, {'attr': {'class': 'form-control'}}) }}
                                        <span>{{ form_errors(edit_form.curso) }}</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Creditos</label>
                                        {{ form_widget(edit_form.creditos, {'attr': {'class': 'form-control'}}) }}
                                        <span>{{ form_errors(edit_form.creditos) }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tema</label>
                                        {{ form_widget(edit_form.tema, {'attr': {'class': 'form-control'}}) }}
                                        <span>{{ form_errors(edit_form.tema) }}</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Semestre</label>
                                        {{ form_widget(edit_form.semestre, {'attr': {'class': 'form-control'}}) }}
                                        <span>{{ form_errors(edit_form.semestre) }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>clave de grupo</label>
                                        {{ form_widget(edit_form.claveGrupo, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(edit_form.claveGrupo) }}</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Horas por semana</label>
                                        {{ form_widget(edit_form.horasSemana, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(edit_form.horasSemana) }}</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Lugar</label>
                                        {{ form_widget(edit_form.lugar, {'attr': {'class': 'form-control'}}) }}
                                        <span>{{ form_errors(edit_form.lugar) }}</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Asignatura</label>
                                        {{ form_widget(edit_form.asignatura, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(edit_form.asignatura) }}</span>
                                    </div>
                                </div>
                            </div>
                            {#
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tema</label>
                                        {{ form_widget(edit_form.tema, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(edit_form.tema) }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Objetivo</label>
                                        {{ form_widget(edit_form.objetivo, {'attr': {'class': 'form-control'}}) }}
                                        <span>{{ form_errors(edit_form.objetivo) }}</span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Temario</label>
                                        {{ form_widget(edit_form.temario, {'attr': {'class': 'form-control'}}) }}
                                        <span>{{ form_errors(edit_form.temario) }}</span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Bibliografía</label>
                                        {{ form_widget(edit_form.bibliografia, {'attr': {'class': 'form-control'}}) }}
                                        <span>{{ form_errors(edit_form.bibliografia) }}</span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Requisitos</label>
                                        {{ form_widget(edit_form.requisitos, {'attr': {'class': 'form-control'}}) }}
                                        <span>{{ form_errors(edit_form.bibliografia) }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Comentarios</label>
                                        {{ form_widget(edit_form.comentarios, {'attr': {'class': 'form-control'}}) }}
                                        <span>{{ form_errors(edit_form.comentarios) }}</span>
                                    </div>
                                </div>
                            </div>
                            #}
                        </div>
                    </div>
                    <div class="box-footer">
                        <input class="btn btn-primary btn-sm" type="submit" value="Editar">
                    </div>
                </div>
        </div>
    </div>
    {{ form_end(edit_form) }}

    </div>
{% endblock %}
