{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper">
    <div class="panel-body">
        <div class="page-header">
            <h1>Cursos <small><span class="badge">{{ cursos|length }}</span></small></h1>
        </div>

    <table class="table">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Curso</th>
                <th>Tema</th>
                <th>Horas</th>
                <th>Creditos</th>
                <th>Asignatura</th>
                <th>Clave</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in cursos %}
            <tr>
                <td>{{ curso.tipo }}</td>
                <td><a href="{{ path('curso_show', { 'id': curso.id }) }}">{{ curso.curso }}</a></td>
                <td>{{ curso.tema }}</td>
                <td>{{ curso.horasSemana }}</td>
                <td>{{ curso.creditos }}</td>
                <td>{{ curso.asignatura }}</td>
                <td>{{ curso.claveGrupo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('curso_new') }}">Create a new curso</a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}
