{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.13/b-1.2.4/datatables.min.css"/>
{% endblock %}

{% block body %}
<section class="content-wrapper">
    <section class="content-header">
        <h1>Cursos <small>Semestre {{ semestre }}</small></h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua-active">
                        </i><i class="fa fa-book" aria-hidden="true"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Cursos</span>
                            <span class="info-box-number">
                                <h2>{{ cursos |length }}</h2>
                            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#aceptados">Aceptados</a></li>
                <li><a data-toggle="tab" href="#rechazados">Rechazados</a></li>
            </ul>
            <div class="box-header text-right">
                <a class="btn btn-primary btn-sm" href="{{ path('curso_new') }}" role="button">
                    <i class="fa fa-plus" aria-hidden="true"></i> Agregar curso</a>
            </div>
            <div class="box-body">
                <div class="tab-content">

                    <div id="aceptados" class="tab-pane fade in active">
                        <table class="table table-condensed table-hover" id="aceptados_table">
                            <thead>
                            <tr>
                                <th>Curso</th>
                                <th>Tema</th>
                                <th>Tipo</th>
                                <th>Horas</th>
                                <th>Creditos</th>
                                <th>Asignatura</th>
                                <th>Clave</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for curso in cursos %}
                                {% if curso.aceptado == 'true' %}
                                    <tr>
                                        <td><a href="{{ path('curso_show', { 'id': curso.id }) }}">{{ curso.curso }}</a></td>
                                        <td>{{ curso.tema }}</td>
                                        <td>{{ curso.tipo }}</td>
                                        <td class="text-center">{{ curso.horasSemana }}</td>
                                        <td class="text-center">{{ curso.creditos }}</td>
                                        <td class="text-center">{{ curso.asignatura }}</td>
                                        <td class="text-center">{{ curso.claveGrupo }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="rechazados" class="tab-pane fade">

                        <table class="table table-condensed table-hover" id="academico_externo_table">
                            <thead>
                            <tr>
                                <th>Curso</th>
                                <th>Tema</th>
                                <th>Tipo</th>
                                <th>Horas</th>
                                <th>Creditos</th>
                                <th>Asignatura</th>
                                <th>Clave</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for curso in cursos %}
                                {% if curso.aceptado  != 'true' %}
                                    <tr>
                                        <td><a href="{{ path('curso_show', { 'id': curso.id }) }}">{{ curso.curso }}</a></td>
                                        <td>{{ curso.tema }}</td>
                                        <td>{{ curso.tipo }}</td>
                                        <td class="text-center">{{ curso.horasSemana }}</td>
                                        <td class="text-center">{{ curso.creditos }}</td>
                                        <td class="text-center">{{ curso.asignatura }}</td>
                                        <td class="text-center">{{ curso.claveGrupo }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
{% block semestre %}
    <li class="treeview active">
        <a href="#">
            <span> {{ _semestre }}</span>
        </a>
        <ul class="treeview-menu menu-open" style="display: none;">
            {% for semestre_li in semestres_lista %}
                <li class=""><a href="{{ path('curso_index', { 'semestre': semestre_li.semestre }) }}">{{ semestre_li.semestre }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}