{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="content-wrapper">
        <section class="content-header">
            <h2>Solicitud de Curso</h2>
        </section>
        <div class="content">
            <div class="alert-danger">{{ form_errors(form) }}</div>
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="box-header">
                            <h3>Semestre </h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Profesor</label>
                                        {{ form_widget(form.profesor, {'attr': {'class': 'form-control'}}) }}
                                        <span>{{ form_errors(form.profesor) }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tipo</label>
                                        {{ form_widget(form.tipo, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(form.tipo) }}</span>
                                    </div>
                                </div>
                            </div>
                            {% if form.curso is defined %}
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Curso</label>
                                        {{ form_widget(form.curso, {'attr': {'class': 'form-control'}}) }}
                                        <span>{{ form_errors(form.curso) }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if form.tema is defined %}
                <div class="box-body">

                    <div class="box-header">
                        <h3>La siguiente información es solo para cursos avanzados (* campos obligatorios) </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tema*</label>
                                {{ form_widget(form.tema, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-danger">{{ form_errors(form.tema) }}</span>
                            </div>
                        </div>
                    </div>
                   {# <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Objetivo*</label>
                                {{ form_widget(form.objetivo, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-danger">{{ form_errors(form.objetivo) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Temario*</label>
                                {{ form_widget(form.temario, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-danger">{{ form_errors(form.temario) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Bibliografía*</label>
                                {{ form_widget(form.bibliografia, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-danger">{{ form_errors(form.bibliografia) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Requisitos</label>
                                {{ form_widget(form.requisitos, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-danger">{{ form_errors(form.requisitos) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Comentarios</label>
                                {{ form_widget(form.comentarios, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-danger">{{ form_errors(form.comentarios) }}</span>
                            </div>
                        </div>
                    </div>#}
                </div>
                {% endif %}
                <div class="box-footer">
                    <input class="btn btn-primary btn-sm" type="submit" value="Crear">
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var $tipo = $('#appbundle_curso_tipo');

        $tipo.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected sport value.
            var data = {};
            data[$tipo.attr('name')] = $tipo.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace la lista de cursos
                    $('#appbundle_curso_curso').replaceWith(
                        $(html).find('#appbundle_curso_curso')
                    );
                    // Position field now displays the appropriate positions.
                }
            });
        });
    </script>
{% endblock %}