{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="content-wrapper">
        <section class="content-header">
            <h2>Solicitud de Curso</h2>
        </section>
        <div class="content">
            <div class="alert-danger">{{ form_errors(form) }}</div>
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="box-header">
                            <h3>Semestre </h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Profesor</label>
                                        {{ form_widget(form.profesor, {'attr': {'class': 'form-control'}}) }}
                                        <span>{{ form_errors(form.profesor) }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tipo</label>
                                        {{ form_widget(form.tipo, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(form.tipo) }}</span>
                                    </div>
                                </div>
                            </div>
                            {% if form.curso is defined %}
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Curso</label>
                                        {{ form_widget(form.curso, {'attr': {'class': 'form-control'}}) }}
                                        <span>{{ form_errors(form.curso) }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>


                {% if form.tema is defined %}
                    <h4>* campos obligatorios </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tema*</label>
                                {{ form_widget(form.tema) }}
                                <span class="text-danger">{{ form_errors(form.tema) }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if form.objetivo is defined %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Objetivo*</label>
                                    {{ form_widget(form.objetivo) }}
                                    <span class="text-danger">{{ form_errors(form.objetivo) }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}


                {% if form.temario is defined %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Temario*</label>
                                {{ form_widget(form.temario) }}
                                <span class="text-danger">{{ form_errors(form.temario) }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if form.bibliografia is defined %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Bibliografía*</label>
                                {{ form_widget(form.bibliografia) }}
                                <span class="text-danger">{{ form_errors(form.bibliografia) }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if form.requisitos is defined %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Requisitos</label>
                                {{ form_widget(form.requisitos) }}
                                <span class="text-danger">{{ form_errors(form.requisitos) }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if form.comentarios is defined %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Comentarios</label>
                                {{ form_widget(form.comentarios) }}
                                <span class="text-danger">{{ form_errors(form.comentarios) }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="box-footer">
                    {% if form.curso is defined %}
                        <input class="btn btn-primary btn-sm" type="submit" value="Crear">
                    {% else %}
                        <input class="btn btn-primary btn-sm" type="submit" value="Continuar...">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.6.2/lang/es.js"></script>

    <script src="//cdn.ckeditor.com/4.4.3/basic/ckeditor.js"></script>
    <script src="//cdn.ckeditor.com/4.4.3/basic/adapters/jquery.js"></script>
    <script>
        var $tipo = $('#appbundle_curso_tipo');

        $tipo.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            $form.submit();
        });
    </script>


{% endblock %}