{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="panel-body">
            <div class="page-header">
                <h1> Curso </h1>
            </div>



            <table class="table table-bordered">

                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Curso</th>
                    <th>Tema</th>
                    <th>Horas por semana</th>
                    <th>Créditos</th>
                    <th>Asignatura</th>
                    <th>Clave de grupo</th>
                    <th>Lugar</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ curso.tipo }}</td>
                    <td>{{ curso.curso }}</td>
                    <td>{{ curso.tema }}</td>
                    <td>{{ curso.horasSemana }}</td>
                    <td>{{ curso.creditos }}</td>
                    <td>{{ curso.asignatura }}</td>
                    <td>{{ curso.claveGrupo }}</td>
                    <td>{{ curso.lugar }}</td>
                </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('curso_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('curso_edit', { 'id': curso.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
