{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Curso</h1>
        </section>
        <section class="content">
            <div class="page-header">
                <h1>{{ curso.curso }}<small> {{ curso.tipo }}</small></h1>
                <h3><a href="{{ path('semestre_show', { 'slug': curso.semestre }) }}">{{ curso.semestre }}</a></h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Tema</th>
                            <th>Horas por semana</th>
                            <th>Créditos</th>
                            <th>Asignatura</th>
                            <th>Clave de grupo</th>
                            <th>Lugar</th>
                            <th>Semestre</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ curso.tema }}</td>
                            <td>{{ curso.horasSemana }}</td>
                            <td>{{ curso.creditos }}</td>
                            <td>{{ curso.asignatura }}</td>
                            <td>{{ curso.claveGrupo }}</td>
                            <td>{{ curso.lugar }}</td>
                            <td><a href="{{ path('semestre_show', { 'slug': curso.semestre }) }}">{{ curso.semestre }}</a></td>
                        </tr>
                        </tbody>
                    </table>

                    {% for programa in curso.programas %}
                        <p><h4><a href="{{ path('alumno_show', { 'slug': programa.alumno.slug }) }}">{{ programa.alumno.paterno }} {{ programa.alumno.materno }} {{ programa.alumno.nombre }}</h4></a></p>
                    {% endfor %}

                </div>
            </div>

            <ul>
                <li>
                    <a href="{{ path('curso_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('curso_edit', { 'id': curso.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </section>
    </div>
{% endblock %}
