{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="content-header">
            <h1>Editar </h1>
        </div>
        {{ form_start(edit_form) }}
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}
        <div class="content">
            <div class="alert-danger">{{ form_errors(edit_form) }}</div>
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="box-header">
                            <h3>Datos personales</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nombre(s)</label>
                                        {{ form_widget(edit_form.nombre, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-dange">{{ form_errors(edit_form.nombre) }}</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Apellido Paterno</label>
                                        {{ form_widget(edit_form.paterno, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(edit_form.paterno) }}</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Apellido Materno</label>
                                        {{ form_widget(edit_form.materno, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(edit_form.materno) }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        {{ form_widget(edit_form.telefono, {'attr': {'class': 'form-control'}}) }}
                                        <span  data-inputmask='"mask": "(999) 999-9999"' data-mask="">{{ form_errors(edit_form.telefono) }}</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Correo Personal</label>
                                        {{ form_widget(edit_form.correoPersonal, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(edit_form.correoPersonal) }}</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Correo Institucional</label>
                                        {{ form_widget(edit_form.correoInstitucional, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(edit_form.correoInstitucional) }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>País</label>
                                        {{ form_widget(edit_form.pais, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(edit_form.pais) }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="box-header">
                            <h3> Datos académicos</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label>Escuela de procedencia</label>
                                        {{ form_widget(edit_form.escuelaProcedencia, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(edit_form.escuelaProcedencia) }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Número de Cuenta</label>
                                        {{ form_widget(edit_form.numeroCuenta, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(edit_form.numeroCuenta) }}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>CVU</label>
                                        {{ form_widget(edit_form.cvu, {'attr': {'class': 'form-control'}}) }}
                                        <span class="text-danger">{{ form_errors(edit_form.cvu) }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <input class="btn btn-primary btn-sm" type="submit" value="Guardar cambios">
                </div>
            </div>
        </div>

    </div>
    {{ form_end(edit_form) }}
    {# <ul>
         <li>
             <a href="{{ path('alumno_index') }}">Back to the list</a>
         </li>
         <li>
             {{ form_start(delete_form) }}
             <input type="submit" value="Delete">
             {{ form_end(delete_form) }}
         </li>
     </ul>#}

{% endblock %}
