{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.13/b-1.2.4/datatables.min.css"/>
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Alumnos <small>Semestre {{ semestre }}</small></h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                    <span class="info-box-icon bg-aqua-active">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Alumnos</span>
                            <span class="info-box-number">
                                <h2>{{ alumnos_maestria|length + alumnos_doctorado|length }}</h2>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3>Doctorado <span class="badge bg-aqua-active">{{ alumnos_doctorado|length  }}</span></h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-condensed table-hover" id="alumno_table">
                                <tbody>
                                {% for alumno in alumnos_doctorado %}
                                    <tr>
                                        <td><a href="{{ path('alumno_show', { 'slug': alumno.slug }) }}">{{ alumno.paterno }} {{ alumno.materno }} {{ alumno.nombre }}</a></td>
                                        <td>{{ alumno.correoPersonal }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer">
                            <a class="btn btn-primary btn-sm" href="{{ path('alumno_new') }}"><i class="fa fa-plus" aria-hidden="true"></i> Agregar alumno</a>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3>Maestría <span class="badge bg-aqua-active">{{ alumnos_maestria|length }}</span></h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-hover" id="alumno_table">
                                <tbody>
                                {% for alumno in alumnos_maestria %}
                                    <tr>
                                        <td><a href="{{ path('alumno_show', { 'slug': alumno.slug }) }}">{{ alumno.paterno }} {{ alumno.materno }} {{ alumno.nombre }}</a></td>
                                        <td>{{ alumno.correoPersonal }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </div>
            {#
                        <ul>
                            <li>
                                <a href="{{ path('alumno_new') }}">Create a new alumno</a>
                            </li>
                        </ul>#}
        </section>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.13/b-1.2.4/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#solicitud_table').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf'
                ]
            } );
        } );
    </script>

{% endblock %}