{% extends 'base.html.twig' %}

{% block body %}
    <h1>Alumnos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Paterno</th>
                <th>Materno</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Escuelaprocedencia</th>
                <th>Programa</th>
                <th>Pais</th>
                <th>Numerocuenta</th>
                <th>Cvu</th>
                <th>Createdat</th>
                <th>Modifiedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alumno in alumnos %}
            <tr>
                <td><a href="{{ path('alumno_show', { 'id': alumno.id }) }}">{{ alumno.id }}</a></td>
                <td>{{ alumno.paterno }}</td>
                <td>{{ alumno.materno }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.telefono }}</td>
                <td>{{ alumno.correo }}</td>
                <td>{{ alumno.escuelaProcedencia }}</td>
                <td>{{ alumno.programa }}</td>
                <td>{{ alumno.pais }}</td>
                <td>{{ alumno.numeroCuenta }}</td>
                <td>{{ alumno.cvu }}</td>
                <td>{% if alumno.createdAt %}{{ alumno.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if alumno.modifiedAt %}{{ alumno.modifiedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('alumno_show', { 'id': alumno.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('alumno_edit', { 'id': alumno.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('alumno_new') }}">Create a new alumno</a>
        </li>
    </ul>
{% endblock %}
