{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.13/b-1.2.4/datatables.min.css"/>
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="panel-body">
            <div class="page-header">
                <h1> Lista de Alumnos </h1>
            </div>

            <div class="row">
                <div class="col col-md-2">
                    <div class="metric-container">
                        <h3 class="metric-header">{{ alumnos|length }}</h3>
                        <span class="metric-label">Alumnos</span>
                    </div>
                </div>
            </div>

            <table class="table table-bordered" id="alumno_table">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>correo</th>
                    <th>Escuela de procedencia</th>
                    <th>Programa</th>
                    <th>pais</th>
                    <th>Numero de cuenta</th>
                    <th>Cvu</th>
                </tr>
                </thead>
                <tbody>
                {% for alumno in alumnos %}
                    <tr>
                        {#<td><a href="{{ path('alumno', { 'slug': alumno.slug }) }}">{{ alumno.id }}</a></td>#}
                        <td><a href="{{ path('alumno_show', { 'slug': alumno.slug }) }}">{{ solicitud.paterno }} {{ solicitud.materno }} {{ solicitud.nombre }}</a></td>
                        <td>{{ alumno.correo }}</td>
                        <td>{{ alumno.escuelaProcedencia }}</td>
                        <td class="text-center">{{ alumno.programa  }}</td>
                        <td class="text-center">{{ alumno.pais }}</td>
                        <td class="text-center">{{ alumno.numeroCuenta }}</td>
                        <td class="text-center">{{ alumno.cvu }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('alumno_new') }}">Create a new alumno</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.13/b-1.2.4/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#solicitud_table').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf'
                ]
            } );
        } );
    </script>

{% endblock %}