{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/css/flag-icon.css">
{% endblock %}

{% block body %}
    <section class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="box box-primary">
                        {#<div class="box-header">
                            <h3>Información</h3>
                        </div>#}
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">

                                    <div class="box box-widget widget-user-2">
                                        <div class="widget-user-header ">

                                            <div class="widget-user-image ">
                                                {% if alumno.fotoName %}
                                                    <td>
                                                        <img src="{{ vich_uploader_asset(alumno, 'fotoFile') | imagine_filter('img_thumb') }}" />
                                                    </td>
                                                {% endif %}
                                            </div>

                                                <div class="widget-user-username">
                                                    <h3>{{ alumno.nombre }} {{ alumno.paterno }} {{ alumno.materno }}</h3>
                                                </div>
                                            {% if alumno.correoInstitucional %}
                                                <div class="widget-user-desc">
                                                    <h5> {{ alumno.correoInstitucional }}</h5>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <table class="table table-condensed table-hover text-muted">

                                            <tr>
                                                <td><strong>Número de cuenta</strong></td><td>{{ alumno.numeroCuenta }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>CVU CONACyT</strong></td><td>{{ alumno.cvu }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Correo personal</strong></td><td>{{ alumno.correoPersonal }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Correo institucional</strong></td><td>{{ alumno.correoInstitucional }}</td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">

                                    <table class="table table-condensed table-hover text-muted">
                                        <tr>
                                            <td><strong>País de origen</strong></td><td><span class="flag-icon flag-icon-{{ alumno.pais|country }}"></span> {{ alumno.pais }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Estado</strong></td><td>{{ alumno.estado }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Universidad de procedencia</strong></td><td>{{ alumno.escuelaProcedencia }}</td>
                                        </tr>
                                        {% if is_granted('ROLE_ADMIN') %}
                                                <td><strong>Examen de grado/Título</strong></td><td><a href="{{ vich_uploader_asset(alumno, 'tesisLicenciaturaFile') }}">{{ alumno.tesisLicenciaturaName}}</a></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Curriculum</strong></td><td><a href="{{ vich_uploader_asset(alumno, 'curriculumFile') }}">{{ alumno.curriculumName}}</a></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Foto</strong></td><td><a href="{{ vich_uploader_asset(alumno, 'fotoFile') }}">{{ alumno.fotoName}}</a></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Cédula</strong></td><td><a href="{{ vich_uploader_asset(alumno, 'cedulaFile') }}">{{ alumno.cedulaName}}</a></td>
                                            </tr>

                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="box-footer">
                                <a class="btn btn-primary btn-sm" href="{{ path('alumno_edit', { 'slug': alumno.slug }) }}" role="button">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>


                                {% if alumno.programas|length <= 0 and alumno.programaMaestriaExterno %}
                                    <a class="btn btn-warning btn-sm" href="{{ path('programa_new', { 'slug': alumno.slug }) }}" role="button">
                                        <i class="fa fa-plus" aria-hidden="true"></i> Crear programa</a>

                                {% elseif alumno.programas|length <=1 and alumno.programaMaestriaExterno is empty %}
                                    <a class="btn btn-warning btn-sm" href="{{ path('programa_new', { 'slug': alumno.slug }) }}" role="button">
                                        <i class="fa fa-plus" aria-hidden="true"></i> Crear programa</a>
                                {% endif %}

                                {% if alumno.programas is empty and alumno.programaMaestriaExterno | length <=0 %}
                                    <a class="btn btn-warning btn-sm" href="{{ path('programamaestriaexterno_new', { 'slug': alumno.slug }) }}" role="button">
                                        <i class="fa fa-plus" aria-hidden="true"></i> Crear programa externo</a>

                                {% else%}
                                    {% for programa in alumno.programas %}
                                        {% if programa.programa =="Doctorado" and alumno.programaMaestriaExterno | length <=0 and alumno.programas|length <=1%}
                                            <a class="btn btn-warning btn-sm" href="{{ path('programamaestriaexterno_new', { 'slug': alumno.slug }) }}" role="button">
                                                <i class="fa fa-plus" aria-hidden="true"></i> Crear programa externo</a>

                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                {% for programa in alumno.programas %}
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="box box-success">
                            <div class="box-header">
                                <h2>{{ programa.programa }}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <small><a href="{{ path('programa_edit', { 'id': programa.id }) }}">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></small>
                                    {% endif %}
                                </h2>
                            </div>
                            <div class="box-body">
                                <p>Periodo: {{ programa.ingreso }} - {{ programa.termino }}</p>
                                {% if programa.fechaGradoUMSNH is not empty %}
                                    <p> <span class="lead text-muted">Titulado </span></p>
                                {% endif %}

                                {% if programa.tutor %}
                                    <p><span class="lead text-muted">Tutor: <a href="{{ path('academico_show', { 'slug': programa.tutor.slug }) }}">{{ programa.tutor.paterno }} {{ programa.tutor.materno }} {{ programa.tutor.nombre }}</a></span></p>
                                {% endif %}
                                <p>{{ programa.tituloTesis }}</p>
                                <div class="page-header text-muted"><h3>Cursos</h3></div>
                                <table class="table table-condensed table-hover">
                                    {% for curso in programa.cursos %}
                                        <tr>
                                            <td><strong><a href="{{ path('curso_show', { 'id': curso.id }) }}">{{ curso.curso }}</a></strong></td>
                                            <td class="text-muted">{{ curso.semestre.semestre }}</td>
                                            <td><a href="{{ path('academico_show', { 'slug': curso.profesor.slug }) }}">{{ curso.profesor.paterno }} {{ curso.profesor.materno }} {{ curso.profesor.nombre }}</a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if alumno.programaMaestriaExterno %}
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="box box-success">
                        <div class="box-header">
                            <h2>Maestría Externa
                                {% if is_granted('ROLE_ADMIN') %}
                                    <small><a href="{{ path('programamaestriaexterno_edit', { 'id': alumno.programaMaestriaExterno.id }) }}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></small>
                                {% endif %}
                            </h2>
                        </div>
                        <div class="box-body">
                            <p><span class="lead text-muted">Universidad:  </span>{{alumno.programaMaestriaExterno.escuelaProcedencia }} </p>
                            <p><span class="lead text-muted">País:  </span> {{alumno.programaMaestriaExterno.pais }}</p>
                            {% if alumno.programaMaestriaExterno.tituloTesis %}
                                <p>{{alumno.programaMaestriaExterno.tituloTesis }}  </p>
                            {% endif %}

                            {% if alumno.programaMaestriaExterno.fechaGrado is not empty %}
                                <p><span class="lead text-muted"> Titulado</span></p>
                            {% endif %}

                        </div>


                    </div>
                </div>
                {% endif %}
            </div>
        </section>
    </section>
{% endblock %}
