{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/css/flag-icon.css">
{% endblock %}


{% block body %}
    <section class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="box box-widget widget-user-2">
                                        <div class="widget-user-header ">

                                            <div class="widget-user-username">
                                                <h3>{{ aspirante.nombre }} {{ aspirante.paterno }} {{ aspirante.materno }}</h3>
                                            </div>
                                            {% if aspirante.correoPersonal %}
                                                <div class="widget-user-desc">
                                                    <h5> {{ aspirante.correoPersonal }}</h5>
                                                </div>
                                            {% endif %}

                                        </div>
                                        <table class="table table-condensed table-hover text-muted">

                                            <tr>
                                                <td><strong>Programa</strong></td><td>{{ aspirante.programa }}</td>
                                            </tr>

                                            <tr>
                                                <td><strong>CURP</strong></td><td>{{ aspirante.curp}}</td>
                                            </tr>
                                            {% if aspirante.rfc %}
                                                <tr>
                                                    <td><strong>RFC</strong></td><td>{{ aspirante.rfc }}</td>
                                                </tr>
                                            {% endif %}
                                            <tr>
                                                <td><strong>Fecha de nacimiento</strong></td><td>{{ aspirante.fechaNacimiento|date('Y-m-d H:i:s') }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Teléfono</strong></td>
                                                <td>{{ aspirante.telefono }}</td>
                                            </tr>

                                        </table>

                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <table class="table table-condensed table-hover text-muted">
                                        <tr>
                                            <td><strong>País</strong></td><td><span class="flag-icon flag-icon-{{ aspirante.pais|country }}"></span> {{ aspirante.pais }}</td>
                                        </tr>
                                        <tr>
                                            <th>Estado</th>
                                            <td>{{ aspirante.estado }}</td>
                                        </tr>
                                        <tr>
                                            <th>Escuela de procedencia</th>
                                            <td>{{ aspirante.escuelaProcedencia }}</td>
                                        </tr>
                                        <tr>
                                            <th>Carrera</th>
                                            <td>{{ aspirante.carrera }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Promedio</strong></td><td>{{ aspirante.promedio }}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha de inicio de estudios</th>
                                            <td>{% if aspirante.fechaInicioEstudios %}{{ aspirante.fechaInicioEstudios|localizeddate('long', 'none', 'es') }}{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha término de créditos</th>
                                            <td>{% if aspirante.fechaTerminoCreditos %}{{ aspirante.fechaTerminoCreditos|localizeddate('long', 'none', 'es') }}{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha de titulación</th>
                                            <td>{% if aspirante.fechaTitulacion %}{{ aspirante.fechaTitulacion|localizeddate('long', 'none', 'es') }}{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>Estatus</th>
                                            {% if  aspirante.estatus == "true" %}
                                                <td>
                                                    Inscrito
                                                </td>
                                            {% else %}
                                                <td>
                                                    No inscrito
                                                </td>
                                            {% endif %}
                                        </tr>

                                    </table>
                                </div>

                                <table>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="box-footer">
                                    <a class="btn btn-primary btn-sm" href="{{ path('aspirante_edit', { 'slug': aspirante.slug }) }}" role="button">
                                        <i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
                                </div>

                            {% endif %}

                        </div>
                    </div>
                </div>

            </div>
        </section>
    </section>
{% endblock %}
